{% extends 'layout.html.twig' %}

{% block title "Graphiste" %}

{% block main %}
<div class="home d-md-flex">
    <div class="left col-md-6">

        <img src="{{ asset('uploads/images/5fb9208ad90fc253697199.jpg') }}" alt="image de fond">
    </div>

    <div class="right col-md-6">

    </div>
</div>

{% endblock %}
