@import "vars";
@import "home";
@import "contact";
@import "flash";

@import "~bootstrap/scss/bootstrap";

$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto+Mono&family=Roboto+Slab:wght@300;400;500&display=swap');


html {
  min-height       : 100vh;
  scroll-behavior  : smooth;
  background-color : $background-color;
}

body {
  margin           : 0;
  padding          : 0;
  background-color : $background-color;
  min-height       : 100vh;
  font-size        : $font-size;
}

img {
  width : 100%;
}

.form-group input,
.form-group input:focus,
.form-group textarea,
.form-group textarea:focus {
  color : $background-color;
}

input::-webkit-input-placeholder,
input::-ms-input-placeholder,
input:placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder {
  color   : $background-color; /*Change the placeholder color*/
  opacity : 0.7; /*Change the opacity between 0 and 1*/
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color        : $primary-color;
  -webkit-text-fill-color : $background-color;
  border-width            : 0;
  transition              : background-color 5000s ease-in-out 0s;
  outline                 : none;
  appearance              : none;
}
