form.contact-form {
  max-width   : 800px;
  margin-top  : $size-xl;
  margin-left : auto;
  height      : 80vh;
  display     : flex;
  align-items : center;

  .contact-wrapper {
    border         : 1px solid $dark-color;
    padding        : $size-lg;
    display        : flex;
    width          : 100%;
    flex-direction : column;

    .content-form {
      display : flex;
    }

    .form-control {
      font-size        : 14px;
      border-radius    : 0;
      background-color : $primary-color;
    }

    button {
      border-radius : 0;
    }

    .contact-info, .contact-message {
      width         : 100%;
      padding-left  : $size;
      padding-right : $size;
    }
  }

  .content-submit {
    margin-left : auto;

    .form-group {
      width        : 335px;
      margin-left  : 1rem;
      margin-right : 1rem;
      display      : flex;
    }
  }
}
