body {
  overflow : hidden;
}

.home {

  .left {
    padding : 0;
    height  : 100vh;

    img {
      object-fit      : cover;
      object-position : top;
      height          : 100vh;
    }
  }

  .right {
    h1 {
      font-size : $size-md;
    }

    .image-profile {
      img {
        height     : 450px;
        object-fit : contain;
      }
    }
  }
}
