.home {

  .left {
    padding : 0;
  }

  .right {
    h1 {
      font-size : $size-md;
    }

    .image-profile {
      img {
        height     : 450px;
        object-fit : contain;
      }
    }
  }
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
