@import "vars";

.card {
  position : relative;
  overflow : hidden;
  cursor   : pointer;

  img {
    //object-fit : cover;
    //width      : 100%;
    //height     : 300px;
  }

  .card-img-overlay {
    position         : absolute;
    left             : 0;
    right            : 0;
    top              : 0;
    bottom           : 0;
    transform        : translateY(100%);
    background-color : rgba($dark-color, .6);
    color            : $background-color;
    transition       : all .3s ease;
  }

  &:hover .card-img-overlay {
    transform : translateY(0);
  }
}

#carouselExampleIndicators.carousel.slide {
  width      : 100%;
  max-width  : 75vh;
  margin-top : 50px;

  @media only screen and (min-width : 768px) {
    .carousel-inner {
      padding       : 12px;
      border        : 1px solid gray;
      border-radius : 5px;
      box-shadow    : 0 0 7px #a99e9e;
    }
  }
}
