.header {

  img {
    height     : 175px;
    object-fit : cover;
  }
}

article {
  &.odd {
    display        : flex;
    flex-direction : row-reverse;

    .body-service {
      text-align : right;
    }
  }
}
