.header {
  max-height : 350px;

  img {
    height     : max-content;
    object-fit : cover;
  }
}

article {
  &.odd {
    display        : flex;
    flex-direction : row-reverse;

    .body-service {
      text-align : right;
    }
  }
}
