$primary-color: #15597E;
$secondary-color: #888487;
$light-color: #9CAFC2;

$theme-colors: (
        "primary": $primary-color,
        "secondary": $secondary-color,
);

$background-color: #FEFEFE;

$title-font: "Roboto mono", sans-serif;
$text-font: "Roboto slab", sans-serif;
$nav-font: "Raleway", sans serif;

@mixin text($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}
