{% extends 'layout.html.twig' %}
{% block title %}Detail{% endblock %}
{% block main %}
   <div class="container">
      <a href="{{ path('projet') }}" class="btn btn-sm"><i class="fas fa-long-arrow-alt-left"></i> Retour</a>
      <h1 class="text-center mt-4">{{ project.title }}</h1>
      <div class="my-4">
         <p>{{ project.description | raw }}</p>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for image in project.images %}
            <div class="col mb-3">
               <div class="card p-2">
                  <img src="{{ asset('uploads/images/' ~ image.image) | imagine_filter('sizeOne') }}"
                       class="card-img" alt="...">
               </div>
            </div>
         {% endfor %}
      </div>
   </div>
{% endblock %}
