{% extends 'base.html.twig' %}
{% block title 'Mes services' %}
{% block main %}
    <div class="container-fluid mt-4">
        <h1 class="text-center">Mes services</h1>
        {% for service in services %}
            {% if loop.index == 2 %}
                {% include 'parts/callToAction.html.twig' %}
            {% endif %}
            <article class="row my-5">
                <div class="col-4">
                    <img class="m-3" src="{{ asset('uploads/images/' ~ service.image) | imagine_filter('sizeOne') }}"
                         alt="{{ service.name }}">
                </div>
                <div class="col-8 mt-3 body-service">
                    <h2>{{ service.name }}</h2>
                    <p>{{ service.description | raw | nl2br }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
