<div>
    <h2 class="text-center mt-4" id="Contacter">Me contacter</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark mb-4 m-4">Envoyer</button>
    {{ form_end(form) }}
</div>