<footer class="footer text-center d-flex align-items-center justify-content-center">

   <p class="m-0">
      Created By Natacha Villeneuve and Dewi Dierick |
      2021 &copy; tous droits réservés
   </p>

</footer>
