<footer class="footer text-center d-flex align-items-center justify-content-center">

   <p class="m-0">
      Created By Natacha Villeneuve and <a href="https://dierick-dewi.fr" target="_blank">Déwi Dierick</a> |
      2021 &copy; tous droits réservés
   </p>

</footer>
