<div class="cta">
    <div class="d-none d-md-block">
        <img src="{{ asset('uploads/images/bg-contact.png') }}" alt="background">
    </div>
    <div class="text-center">
        <p>
            Recevez votre devis sous 72h et changez votre impact commercial
        </p>
        <a href="{{ path('contact') }}" class="btn btn-dark">Me contacter</a>
    </div>
</div>