<div class="cta py-3 py-md-0">
    <div class="d-none d-md-block block">
        <img src="{{ asset('uploads/images/bg-contact.png') }}" alt="background">
    </div>
    <div class="text-center text">
        <p class="h2 text-light">
            Recevez votre devis sous 72h et changez votre impact commercial
        </p>
        <a href="{{ path('contact') }}" class="btn btn-lg btn-dark mt-4">Me contacter</a>
    </div>
</div>